@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");

:root {
  --shadow: rgba(0, 0, 0, 0.65);
}

* {
  margin: 0;
  padding: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  box-sizing: border-box;
}

html {
  background-color: #9885e8;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vw; */
  min-height: 100vh;
  gap: 25px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.calculator-section {
  /* outline: 1px solid black; */
  display: flex;
  gap: 40px;
}

.monitor-container {
  /* outline: 0.5px solid black; */
  border: 5px solid;
  border-color: #2a2015 #473e2f #514c40;
  border-radius: 3px;
  padding: 8px 6px 15px;
  /* height: 350px; */
  background-color: #e5cea3;
  background-color: #191917;
  /* box-shadow: 1px 1px 1px var(--shadow), inset 8px 0px 1px var(--shadow),
    1px 1px 5px var(--shadow), inset -8px -20px 1px var(--shadow),
    inset 0px 10px 1px var(--shadow); */
}

.monitor-second-container {
  /* outline: 0.0w1px solid black; */
  background-color: #2b2b29;
  padding: 18px 22px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  box-shadow: inset 0.5px 0.5px 2px var(--shadow),
    inset -0.5px -0.5px 1px var(--shadow);
}

.monitor {
  border: 11px solid;
  border-color: #2a2015 #473e2f #514c40;
  border-color: #191917 #51554d #333029;
  padding: 4px 8px;
  font-size: 1.2rem;
  overflow: hidden;
  /* transition: 1s; */
  /* background-color: #362410; */
  /* background: radial-gradient(
    circle,
    rgba(65, 55, 40, 1) 33%,
    rgba(105, 76, 34, 1) 100%
  ); */
  background: radial-gradient(
    circle,
    rgba(34, 61, 41, 1) 9%,
    rgba(16, 35, 21, 1) 100%
  );

  width: 25rem;
  height: 19rem;
  border-radius: 2px;
  box-shadow: inset -2px -2px 10px black, inset 2px 2px 3px black;
  filter: contrast(90%) brightness(95%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

.monitor::before,
.monitor::after {
  content: "";
  display: block;
  width: 39px;
  height: 40px;
  background: linear-gradient(to right, #0004 65%, #0008 80%);
  position: absolute;
  top: 50px;
}

.monitor::before {
  left: -39px;
}

.monitor::after {
  right: -39px;
  transform: rotate(180deg);
}

.input {
  /* color: #b1843d;
  text-shadow: 0 0 5px rgba(177, 100, 61, 0.8), 0 0 10px rgba(177, 132, 61, 0.5); */
  color: #46932f;
  text-shadow: 0 0 5px rgba(50, 106, 34, 0.8), 0 0 10px rgba(50, 104, 34, 0.5);
}

.output {
  color: #46932f;
  align-self: flex-end;
  text-shadow: 0 0 5px rgba(50, 106, 34, 0.8), 0 0 10px rgba(50, 104, 34, 0.5);
}

.calculator {
  /* outline: 1px solid black; */
  align-self: flex-end;
}

.calculator-container {
  /* outline: 1px solid black; */
  /* gap: 15px; */
  display: flex;
}

.calculator button {
  /* outline: 1px solid red; */
  /* color: red; */
  /* color: #444; */
  /* border: none; */
  border-color: #2a2015 #473e2f #514c40;
  background-color: #e3e8e1;
  height: 45px;
  width: 45px;
  font-size: 1rem;
  border-radius: 5px;
  text-shadow: 0.5px 0.5px 0 #999, 0.5px 0.5px 0 #888,
    0.5px 0.5px 0 var(--shadow);
  box-shadow: 0px 2.5px 1px var(--shadow), inset -1px -1px 1px var(--shadow),
    inset 1px 0px 1px var(--shadow);
}

.buttons-container-decoration {
  background-color: #707785;
  padding: 2px 0px 4px 0px;
  border-radius: 3px;
  box-shadow: inset 0px -4px 4px var(--shadow), inset 0px 1px 4px var(--shadow);
}

.buttons-container {
  background-color: #707785;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: inset -1px -1px 1px var(--shadow), inset 1px 0px 1px var(--shadow);
  gap: 5px;
}

.button-container-inner-decoration {
  box-shadow: inset 0px 0px 4px black;
  border-radius: 3px;
  display: flex;
  gap: 5px;
  padding-bottom: 2px;
}

.buttons-container-top {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding-bottom: 10px;
}

.buttons-container-left {
  /* outline: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 145px;
}

.buttons-container-right {
  /* outline: 1px solid black; */
  display: flex;
  gap: 5px;
  flex-direction: column;
}

#li-add,
#li-enter {
  flex: 2;
}

#li-add button,
#li-enter button {
  height: 100%;
}

#li-enter button,
#li-del button {
  background-color: #ee7a68e8;
  border-radius: 5px;
  /* border: 1px solid; */
  /* border-color: ; */
}

.buttons-container-bottom {
  /* outline: 1px solid black; */
  display: flex;
  width: 100%;
  gap: 5px;
  flex-direction: row;
  /* flex: 1 0 auto; */
}

.monitor-padding {
  height: 55px;
}

#li-num0 {
  flex: 2;
}

#li-num0 button {
  width: 100%;
}

button:active {
  /* text-shadow: 0.5px 0.5px 0px var(--shadow); */
  transform: translateY(1px);
}

.footer {
  display: flex;
  flex-wrap: nowrap;
}

.footer a {
  /* color: blue; */
  font-size: 1rem;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
